---
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import ComponentsReference from "@components/case-study/ComponentsReference.astro";
---

<PageLayout
  title="Case study components"
  description="Internal reference of reusable case-study components."
  noindex
>
  <Container>
    <div class="page-fade-in max-w-screen-lg mx-auto">
      <ComponentsReference />
    </div>
  </Container>
</PageLayout>
