---
import { ArrowLeft } from "@lucide/astro";

type Props = {
  href: string;
};

const { href } = Astro.props;
---

<a
  href={href}
  class="btn btn-outline btn-sm font-normal text-base-content/60"
>
  <ArrowLeft size={14} />
  <slot />
</a>
