---
import { cn } from "@lib/utils";

type Props = {
  href: string;
  external?: boolean;
  underline?: boolean;
  class?: string;
};

const { href, external, underline = true, class: className, ...rest } =
  Astro.props;
---

<a
  href={href}
  target={external ? "_blank" : "_self"}
  class={cn(
    "inline-block text-current hover:text-base-content transition-colors duration-300 ease-in-out",
    "hover:underline hover:underline-offset-2 hover:decoration-base-content/30",
    underline && "underline underline-offset-2 decoration-base-content/30",
    className
  )}
  {...rest}
>
  <slot />
</a>
