---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import KeyboardShortcuts from "@components/KeyboardShortcuts.astro";
import KeyboardShortcutGuide from "@components/KeyboardShortcutGuide.astro";
import BackToTop from "@components/BackToTop.astro";
import { SITE } from "@consts";
import type { BreadcrumbItem } from "@types";

type Props = {
  title: string;
  description: string;
  breadcrumb?: BreadcrumbItem[];
};

const { title, description, breadcrumb } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={`${title} | ${SITE.NAME}`} description={description} />
  </head>
  <body>
    <Header breadcrumb={breadcrumb} />
    <main>
      <slot />
    </main>
    <Footer />
    <KeyboardShortcuts />
    <KeyboardShortcutGuide />
    <BackToTop />
  </body>
</html>
